<div class="container mt-4">
  <div class="row gx-5">
  
    <div class="col-sm-4 col-md-3">
      <h2>B&uacute;squedas:</h2>
      <hr/>
      
      <ul class="list-group">
        <li routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item">Buscar Pa&iacute;s</li>
        <li routerLink="region"
            routerLinkActive="active"
            class="list-group-item">Por Regi&oacute;n</li>
        <li routerLink="capital"
            routerLinkActive="active"
            class="list-group-item">Por Capital</li>
      </ul>      
    </div>
    
    <div class="col-sm-8 col-md-9 main-content">
      <router-outlet></router-outlet>
      <hr/>
    </div>
  
  </div>
</div>